<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="formula" value="q" /> <!-- 'q' quadric, 'a' absolute -->
		<add key="baza" value="x" /> <!-- "i" in memory, 'x' xml -->
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="Servis.Service">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000/" />
					</baseAddresses>
				</host>
				<endpoint address="Service" binding="netTcpBinding" contract="Common.IService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>